<h1 class="max-w-3xl m-auto font-bold text-3xl py-2">New Book</h1>

<%= render 'form', book: @book %>

<%= link_to 'Back', books_path, class:"max-w-3xl m-auto block text-center py-2 text-2xl my-2" %>
